<%-include('_header.ejs')%>
    <p>These are our current books:</p>
    <div class="books">
        <% siteData.books.forEach(book=> {%>
            <img src="https://edwardtanguay.vercel.app/share/images/techBooks/<%=book.idCode%>.jpg"/>
        <%})%>
    </div>
<%-include('_footer.ejs')%>