body {
	background-color: #333;
	color: #ccc;
	font-family: sans-serif;
	padding: 0 1rem;

	a {
		color: rgb(231, 231, 129);
	}

	nav {
		background-color: #222;
		display: flex;
		gap: 1rem;
		padding: .7rem;
		border-radius: .4rem;

		a {
			color: #ccc;
			text-decoration: none;
		}

		a.active {
			color: rgb(228, 228, 109);
		}
	}
}